<section
  class="hero-playlist theme--blueLilac "
  data-widget="hero"
  data-script="pl_hero"
>
  <svg
    class="hero-playlist__bg-shape"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    :xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1432 524"
    style="enable-background:new 0 0 1432 524;"
    :xml:space="preserve"
  >
    <style type="text/css">
      .st0__hero{fill:url(#SVGID_1_);}
            .st1__hero{fill:url(#SVGID_2_);}
    </style>
    <linearGradient
      id="SVGID_1_"
      gradientUnits="userSpaceOnUse"
      x1="1348.4205"
      y1="329.9624"
      x2="495.7404"
      y2="481.3125"
      gradientTransform="matrix(1 0 0 -1 0 524)"
    >
      <stop
        offset="0"
        style="stop-color:#FF2882"
      ></stop>
      <stop
        offset="1"
        style="stop-color:#640a4c"
      ></stop>
    </linearGradient>
    <path
      class="st0__hero"
      d="M1432,0v139.9c-216.6,90.1-456.5,139.8-705.3,139.8c-35.3,0-42.6,1.1-77.4-0.9l107.6-108.2 c-195.9,0-406.8-27.2-583.9-84.3l75.3-75.7C235.3,7.3,222.3,3.7,209.4,0h665.7l-58.8,59.1c97.9-10.3,199.5-30.7,298.2-59.1H1432z"
    ></path>
    <linearGradient
      id="SVGID_2_"
      gradientUnits="userSpaceOnUse"
      x1="1344.87"
      y1="0.2301"
      x2="339.98"
      y2="178.5901"
      gradientTransform="matrix(1 0 0 -1 0 524)"
    >
      <stop
        offset="0"
        style="stop-color:#FF2882"
      ></stop>
      <stop
        offset="1"
        style="stop-color:#640a4c"
      ></stop>
    </linearGradient>
    <path
      class="st1__hero"
      d="M1432,352.2V524H292.3c-7.2-2.2-14.3-4.4-21.4-6.7l75.3-75.7C227.1,410.8,107.7,364.1,0,310V169 c156.8,62.4,340.5,93.9,517.8,100L439,348.3c110.4,23.9,216.9,35.8,334.4,35.8c101.7,0,170.9-3.2,267.4-21.2L914.3,490.1 C1087.4,471.9,1271.8,422.3,1432,352.2z"
    ></path>
  </svg>

  <div class="hero-playlist__thumbnail ">
    <figure class="hero-playlist__thumbnail-figure">

      <a
        href="/news/2212585"
        class="image hero-playlist__thumbnail-image  "
      >
        <picture class="hof-featured-player__player-image">
          <source
            media="(max-width: 500px)"
            srcset="https://resources.premierleague.com/photos/2021/08/11/46021867-ee68-430e-917d-4cca51297b01/Son-Heung-min.jpg?width=500&amp;height=270"
          >
          <source
            media="(max-width: 800px)"
            srcset="https://resources.premierleague.com/photos/2021/08/11/46021867-ee68-430e-917d-4cca51297b01/Son-Heung-min.jpg?width=800&amp;height=270"
          >
          <source
            media="(max-width: 1100px)"
            srcset="https://resources.premierleague.com/photos/2021/08/11/46021867-ee68-430e-917d-4cca51297b01/Son-Heung-min.jpg?width=540&amp;height=380"
          >
          <source
            media="(min-width: 1101px)"
            srcset="https://resources.premierleague.com/photos/2021/08/11/46021867-ee68-430e-917d-4cca51297b01/Son-Heung-min.jpg?width=500&amp;height=380"
          >
          <img
            src="https://resources.premierleague.com/photos/2021/08/11/46021867-ee68-430e-917d-4cca51297b01/Son-Heung-min.jpg?width=500&amp;height=380"
            alt="Son Heung-min"
          >
        </picture>

      </a>

      <figcaption>
        <span class="hero-playlist__thumbnail-tag">Talking Tactics</span>
        <h4 class="hero-playlist__thumbnail-title">
          <a href="/news/2212585">Son can lead the line against Man City</a>
        </h4>
        <p>
          Adrian Clarke says South Korean will be a threat to the champions in an unfamiliar role as a striker
        </p>

        <h5 class="related-title">Related Content</h5>

        <div>

          <div class="related-item">
            <a
              href="https://www.tottenhamhotspur.com/news/2021/august/spurs-v-city-team-news/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
              target="_blank"
              class="relatedArticle club text"
            >
              <span
                class="badge badge-image-container"
                data-widget="club-badge-image"
                data-size="25"
              >
                <img
                  class="badge-image badge-image--25 js-badge-image"
                  src="https://resources.premierleague.com/premierleague/badges/25/t6.png"
                  srcset="https://resources.premierleague.com/premierleague/badges/25/t6@x2.png 2x"
                >
              </span>
              <p>
                Nuno latest on Kane, Romero and Bryan
                <span class="icn external-w">
                  <span class="visuallyHidden">External Link</span>
                </span>
              </p>
            </a>
          </div>

          <div class="related-item">
            <a
              href="https://www.youtube.com/watch?v=KnNE215FTA8?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
              target="_blank"
              class="relatedArticle club text"
            >
              <span
                class="badge badge-image-container"
                data-widget="club-badge-image"
                data-size="25"
              >
                <img
                  class="badge-image badge-image--25 js-badge-image"
                  src="https://resources.premierleague.com/premierleague/badges/25/t6.png"
                  srcset="https://resources.premierleague.com/premierleague/badges/25/t6@x2.png 2x"
                >
              </span>
              <p>
                What is Heung-Min Son's favourite Spurs moment?
                <span class="icn external-w">
                  <span class="visuallyHidden">External Link</span>
                </span>
              </p>
            </a>
          </div>

          <div class="related-item">
            <a
              href="/news/2186645"
              class="relatedArticle club text"
            >
              <p>
                Nuno can add defensive steel to Spurs' attacking verve
              </p>
            </a>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>

  <div class="hero-playlist__secondary-thumbnail-wrapper">

    <div class="hero-playlist__thumbnail hero-playlist__thumbnail--secondary">
      <figure class="hero-playlist__thumbnail-figure">

        <a
          href="/news/2219089"
          class="image hero-playlist__thumbnail-image  "
        >
          <img
            src="https://resources.premierleague.com/photos/2021/08/15/d7a3d4b6-26bd-40eb-85d4-3ea9303b7d5d/GettyImages-1334118481.jpg?width=866&amp;height=620"
            alt="Richarlison"
          >

        </a>

        <figcaption>
          <span class="hero-playlist__thumbnail-tag">Fantasy Premier League</span>
          <h4 class="hero-playlist__thumbnail-title">
            <a href="/news/2219089">
              FPL Saturday review: Richarlison and Pogba in demand
            </a>
          </h4>

        </figcaption>
      </figure>
    </div>

    <div class="hero-playlist__thumbnail hero-playlist__thumbnail--secondary">
      <figure class="hero-playlist__thumbnail-figure">

        <a
          href="/video/single/2213943"
          class="image hero-playlist__thumbnail-image  "
        >
          <img
            src="https://resources.premierleague.com/photos/2021/08/14/49476115-cbf6-4360-94c2-538242f43ad0/QYWC20ig.jpg?width=860&amp;height=573"
            alt="Why Premier League players take the knee"
          >

          <svg
            class="hero-playlist__thumbnail-play-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 35 40"
          >
            <path d="M0 3.29C0 .743 2.805-.835 5.017.468l28.361 16.71c2.163 1.273 2.163 4.373 0 5.645L5.018 39.533C2.804 40.836 0 39.257 0 36.709V3.291z"></path>
          </svg>
          <span class="hero-playlist__thumbnail-run-time">
            <span class="icn play-w"></span>
            <time
              class="hero-playlist__thumbnail-time"
              datetime="PT2M59S"
            >
              01:01
            </time>
          </span>

        </a>

        <figcaption>
          <div class="hero-playlist__thumbnail-caption-wrapper"></div>
          <h4 class="hero-playlist__thumbnail-title">
            <a href="/video/single/2213943">
              Why Premier League players take the knee
            </a>
          </h4>

        </figcaption>
      </figure>
    </div>
  </div>
</section>
