.logo-container {
  width: 123px;
}

.logo {
  height: 85%;
}

.mobile {
  width: 95px;
}

.logo-background {
  border-top-right-radius: 137%;
  border-bottom-right-radius: 85%;
  min-height: 125px;
}

.nav-option > * {
  @apply items-center px-6 lg:px-5 xl:px-6;
}

.nav-option i {
  @apply text-2xl;
}

.left-divider {
  @apply relative;
}
.left-divider::after {
  background: hsla(0, 0%, 100%, 0.2);
  @apply absolute left-0 block w-px h-auto top-3 bottom-3 content-[''];
}

.active {
  @apply bg-purple-light text-white;
}
