<div class="flex max-w-xl mx-auto">
  <!-- Sidebar begin -->
  <nav class="sidebar w-80 float-left">
    <header class="fixture-header relative text-center
    before:block before:absolute before:top-0 before:h-1.5 before:bg-gradient-to-r before:from-pinkPurple-light before:to-pinkPurple-dark">
      <div class="week">Match week 1</div>
      <div class="competition">
        <span></span>
      </div>
      <div class="local-time-container text-sm">
        All times shown are your
        <span class="font-bold">local time</span>
      </div>
    </header>
  </nav>
  <!-- Sidebar end -->

  <!-- Main content begin -->
  <main class="relative">
    <!-- <fs-home-banner-background></fs-home-banner-background> -->
    <fs-match-tile>hello</fs-match-tile>
    <fs-match-tile>hello</fs-match-tile>
    <fs-match-tile>hello</fs-match-tile>
    <fs-match-tile>hello</fs-match-tile>
    <fs-match-tile>hello</fs-match-tile>
    <fs-match-tile>hello</fs-match-tile>
  </main>
  <!-- Main content end -->
</div>
